/*Hoja de estilos 
Tipo de archivo: css
Descripción: Estilos para el archivo Administrador
Desarrollado por: José Ambuludí
Fecha de elaboración: 13 de Enero de 2016
Fecha de modificación: 13 de Enero de 2016
Ruta: /Vista/Administrador/Inicio.php
Versión: 0.1
*/
*{
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;/*Para que todo se contenga dentro del mismo modelo de caja*/
}

#contenedor
{
	width:100%;
	height:100%
}
/*Estructura del mapa*/
#map
{
	top:50px;
	left:0%;
	width:100%;
	height:92%;
	position:absolute;
	/*z-index:100;*/
	z-index:2;
}

/*Sección para ventana modal*/
.VentanaModal
{
	top:0px;
	width:100%;
	height:100%;
	position:fixed;
	color:#FFF;
	background-image:url(../imagenes/lightbox.png);
	display:none;
	z-index:3;
}

/*Estilo para el opopup del mapa*/
.tablapopup {
  width: 200px;
  height:250px;
  border: 1px solid #000;
  border-collapse: collapse;
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}
.tablapopup td {
  border: 1px solid #000;
  background-color:#95C6F7;
}

/*RESPONSIVE DESIGN*/
header{
	width:100%;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	background-color:#036;
}
h1{
	float:left;
	top:0px;
	height:50px;
}
.logo{
	width:180px;
	height:50px;
}
.banner{
	width:100%;
	margin:auto;
}

header .banner{
	display:table;
}
header label{
	float:right;
	font-size:28px;
	margin:6px 0;
	cursor:pointer;
}
.menu{
	position:absolute;
	width:100%;
	height:100vh;
	top:50px;
	left:0;
    transform:translateX(-100%);
	display:block;
}

.menu a{
	display:block;
	color:#FFF;
	height:50px;
	text-decoration:none;
	padding:15px;
	position:relative;
	z-index:4;
}

.menu a:hover{
	color:#999;
}

#menu-bar{
	display:none;
}

#menu-bar:checked ~ .menu{
	transform:translateX(0%);
}

/*Estructura responsive*/
@media (min-width:1024px)
{
	.menu{
		position:static;
		width:auto;
		height:auto;
		transform:translateX(0%);
		float:right;
		display:flex;
	}
}
@media (min-width:500px)
{
	.menu{
		position:static;
		width:auto;
		height:auto;
		transform:none;
		float:right;
		display:flex;
	}
	header label{
		display:none;
	}
}