/*Para el efecto del div flotante*/
*{
	margin:0px auto;
	padding:0px;
	box-sizing:border-box;/*Para que todo se contenga dentro del mismo modelo de caja*/
}
#flotante
{
	position:absolute;
	top:55px;
	left:78%;
	width:300px;
	height:200px;
	z-index:5;
}

.tablaflotante
{
	border: black 1px solid;
	border-collapse: collapse;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	opacity: 0.8;
}

.tablaflotante td
{
	border: black 1px solid;
	padding:3px;
}


